%title
  = @item[:title] || "No title"
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:charset => "utf-8"}/
%link{ :rel => "stylesheet", :type => "text/css", :href => asset_path("application.css"), :media => "screen" }
%script{ :type => "text/javascript", :src => asset_path("application.js") }
