.well.sidebar-nav
  %ul.nav
    %li Sidebar
    %li.active
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li Sidebar
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li Sidebar
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
