!!!
%html
  %head
    = render("_html_header")
  %body
    -# We can also use .navbar-inverse  instead of .navbar-default, which changes the color of navbar.
    .navbar.navbar-default.navbar-fixed-top
      = render("_navbar")
    .container
      #main-content
        = yield
    .container
      #footer
        = render("_footer")
